<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo app</title>
</head>

<body>
    <div class="table-container">
        <h1 class="todo title"></h1>
        <div>
            <a class="btn" href="">add todo</a>
        </div>
        <br />

        <table>
            <tr>
                <td>title</td>
                <td>description</td>
                <td>created at</td>
                <td>updated at </td>
                <td>Action </td>
            </tr>
            <tr>
                <td>todo title</td>
                <td>todo description</td>
                <td>created time</td>
                <td>updated time </td>
                <td>
                    <a class="btn" href="">Edit </a>
                    <a class="btn" href="">Delete</a>
                </td>
            </tr>
        </table>

    </div>

</body>

</html>